h1 {
    text-align: center;
}

.side_by_side {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

#last {
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

h3 {
    font-weight: 500;
}

ol,
ul {
    font-weight: 300;
}

#ordered_list {
    border: 1px solid red;
    border-radius: 15px;
}

ol {
    padding: 10px;
    list-style-position: inside;
}

ul {
    padding: 10px;
    list-style: upper-roman inside;
}

#unordered_list {
    border: 1px dashed red;
    border-radius: 15px;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}